@page
@using StreamSageWAD.Models
@using System.Security.Claims
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron jumbotron-fluid bg-primary text-white">
    <div class="container text-center">
        <h1 class="display-4">StreamSage</h1>
        <p class="lead">Your ultimate movie streaming guide.</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Explore Our Library</h2>
            <p>Discover your next favorite movie in our extensive library.</p>
            <a class="btn btn-success" href="/Library">Go to Library</a>
        </div>
    </div>
</div>
