@page
@using StreamSageWAD.Models
@using System.Security.Claims
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="hero-section text-white text-center py-5">
    <div class="container">
        <img src="~/img/sage-transparent.png" alt="StreamSage Logo" class="img-fluid mb-4 float-animation" style="max-width: 250px;">
        <h1 class="display-4">Stream Sage</h1>
        <p class="lead mb-4">Your ultimate movie streaming guide.<br><br>Combining traditional streaming with educational and social aspects.</p>
        <a class="btn btn-lg btn-success" href="/Library">Go to Library</a>
    </div>
</div>

