@page
@model IndexModel
@{
	ViewData["Title"] = "Home";
}

<body>
	<div class="d-flex flex-column justify-content-center align-items-center vh-100">
		<img src="./img/sage-transparent.png" alt="Stream Sage Logo" class="mb-4 float-animation" />
		<h1 class="display-4 mb-4 float-animation">Stream Sage</h1>
		<p class="lead text-lg mb-4 float-animation"><strong>Redefining movie streaming by integrating entertainment with educational content, social engagement, and critical analysis.</strong></p>
		<a class="btn btn-primary btn-lg btn-block w-50 float-animation big-button" asp-page="/Library">Browse Movies</a>
	</div>
</body>
