@page
@using StreamSageWAD.Models
@using System.Security.Claims
@model IndexModel
@{
	ViewData["Title"] = "Home";
}

<div class="text-center">
		<h1 class="display-4">Welcome to StreamSage</h1>
	<p class="lead">The best place to find your favorite movies and TV shows</p
</div>

@if(Request.Cookies.ContainsKey(nameof(LoginDTO.Email)))
{
	<h3>Cookie Email: @Request.Cookies[nameof(LoginDTO.Email)]</h3>
}
@if(HttpContext.Session.Get(nameof(LoginDTO.Email)) != null)
{
	<h3>Session Email: @HttpContext.Session.GetString(nameof(LoginDTO.Email))</h3>
}
@if(User.FindFirst(ClaimTypes.Email) != null)
{
	<h3>Claim Email: @User.FindFirst(ClaimTypes.Email).Value</h3>
}